In [1]:
import numpy as np                  
import pandas as pd                
import matplotlib.pyplot as plt    
import seaborn as sns
import mysql.connector
from mysql.connector import Error
import os

In [2]:
BASE_DIR = os.getcwd()

csv_path = os.path.join(BASE_DIR, '..', 'Data', 'RRHH - 16062025.csv') # -- cambiar solo la fecha del fichero 

df_RRHH_16062025 = pd.read_csv(csv_path)

df_RRHH_16062025

,ID,Reason_absence,Month_absence,Day_week,Seasons,Transportation_expense,Distance_Residence_Work,Service_time,Age,Work_load_Average_day,...,Disciplinary_failure,Education,Son,Social_drinker,Social_smoker,Pet,Weight,Height,Body_mass_index,Absenteeism_hours
0,1,0,3,5,4,235,11,14,37,244.387,...,1,3,1,0,0,1,88,172,29,0
1,1,1,5,2,4,235,11,14,37,246.074,...,0,3,1,0,0,1,88,172,29,8
2,1,7,4,6,4,235,11,14,37,326.452,...,0,3,1,0,0,1,88,172,29,3
3,1,11,7,3,1,235,11,14,37,264.604,...,0,3,1,0,0,1,88,172,29,4
4,1,13,1,3,3,235,11,14,37,330.061,...,0,3,1,0,0,1,88,172,29,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
835,132,13,6,6,1,235,11,14,37,377.550,...,0,3,1,0,0,1,88,172,29,16
836,133,18,1,3,3,155,12,14,34,313.532,...,0,1,2,1,0,0,95,196,25,8
837,134,0,10,6,2,118,13,18,50,265.017,...,1,1,1,1,0,0,98,178,31,0
838,135,23,2,3,3,225,26,9,28,264.249,...,0,1,1,0,0,2,69,169,24,3
839,136,28,8,3,1,246,25,16,41,249.797,...,0,1,0,1,0,0,67,170,23,1

In [3]:
df_RRHH_16062025.columns

Index(['ID', 'Reason_absence', 'Month_absence', 'Day_week', 'Seasons',
       'Transportation_expense', 'Distance_Residence_Work', 'Service_time',
       'Age', 'Work_load_Average_day', 'Hit_target', 'Disciplinary_failure',
       'Education', 'Son', 'Social_drinker', 'Social_smoker', 'Pet', 'Weight',
       'Height', 'Body_mass_index', 'Absenteeism_hours'],
      dtype='object')

In [4]:
# Muestra todas las columnas
pd.set_option('display.max_columns', None)

# Opcional: muestra todo el ancho (evita recortes por pantalla estrecha)
pd.set_option('display.width', None)

# Opcional: ajusta el ancho mÃ¡ximo de cada columna si es muy largo
pd.set_option('display.max_colwidth', None)

In [6]:
df_RRHH_16062025.head(15)

,ID,Reason_absence,Month_absence,Day_week,Seasons,Transportation_expense,Distance_Residence_Work,Service_time,Age,Work_load_Average_day,Hit_target,Disciplinary_failure,Education,Son,Social_drinker,Social_smoker,Pet,Weight,Height,Body_mass_index,Absenteeism_hours
0,1,0,3,5,4,235,11,14,37,244.387,98,1,3,1,0,0,1,88,172,29,0
1,1,1,5,2,4,235,11,14,37,246.074,99,0,3,1,0,0,1,88,172,29,8
2,1,7,4,6,4,235,11,14,37,326.452,96,0,3,1,0,0,1,88,172,29,3
3,1,11,7,3,1,235,11,14,37,264.604,93,0,3,1,0,0,1,88,172,29,4
4,1,13,1,3,3,235,11,14,37,330.061,100,0,3,1,0,0,1,88,172,29,1
5,1,13,6,3,1,235,11,14,37,253.957,95,0,3,1,0,0,1,88,172,29,8
6,1,13,6,6,1,235,11,14,37,377.550,94,0,3,1,0,0,1,88,172,29,16
7,1,14,12,3,3,235,11,14,37,236.629,93,0,3,1,0,0,1,88,172,29,4
8,1,18,11,4,2,235,11,14,37,284.031,97,0,3,1,0,0,1,88,172,29,1
9,1,19,8,5,1,235,11,14,37,265.615,94,0,3,1,0,0,1,88,172,29,8
10,1,21,3,5,4,235,11,14,37,244.387,98,0,3,1,0,0,1,88,172,29,8
11,1,22,3,2,4,235,11,14,37,244.387,98,0,3,1,0,0,1,88,172,29,8
12,1,22,4,6,4,235,11,14,37,246.288,91,0,3,1,0,0,1,88,172,29,8
13,1,22,5,2,4,235,11,14,37,237.656,99,0,3,1,0,0,1,88,172,29,8
14,1,22,7,2,1,235,11,14,37,239.554,97,0,3,1,0,0,1,88,172,29,8

In [10]:
df_RRHH_16062025.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       840 non-null    int64
 1   Reason_absence           840 non-null    int64
 2   Month_absence            840 non-null    int64
 3   Day_week                 840 non-null    int64
 4   Seasons                  840 non-null    int64
 5   Transportation_expense   840 non-null    int64
 6   Distance_Residence_Work  840 non-null    int64
 7   Service_time             840 non-null    int64
 8   Age                      840 non-null    int64
 9   Work_load_Average_day    840 non-null    object
 10  Hit_target               840 non-null    int64
 11  Disciplinary_failure     840 non-null    object
 12  Education                840 non-null    object
 13  Son                      840 non-null    int64
 14  Social_drinker           840 non-null    object
 15  Social_smoker            840 non-null    object
 16  Pet                      840 non-null    int64
 17  Weight                   840 non-null    int64
 18  Height                   840 non-null    int64
 19  Body_mass_index          840 non-null    int64
 20  Absenteeism_hours        840 non-null    int64
dtypes: int64(16), object(5)
memory usage: 137.9+ KB

In [ ]:
df_RRHH_16062025.to_csv("RRHH - 16062025.csv", index=False)