In [19]:
import numpy as np                  
import pandas as pd                
import matplotlib.pyplot as plt    
import seaborn as sns

In [20]:
import os
print(os.getcwd())

c:\Users\santy\Desktop\project\ProjecteData\Equip_11\Scripts

### Cargar dataset

In [21]:
BASE_DIR = os.getcwd()

csv_path = os.path.join(BASE_DIR, '..', 'Data', 'RRHH - 26062025.csv') # -- cambiar solo la fecha del fichero 

df_RRHH = pd.read_csv(csv_path, sep=';')

df_RRHH

,ID,Reason_absence,Month_absence,Day_week,Seasons,Transportation_expense,Distance_Residence_Work,Service_time,Age,Work_load_Average_day,...,Disciplinary_failure,Education,Son,Social_drinker,Social_smoker,Pet,Weight,Height,Body_mass_index,Absenteeism_hours
0,14,11,11,2,4,155,12,14,34,"284,031",...,0,1,2,1,0,0,95,196,25,120
1,36,13,4,4,3,118,13,18,50,"239,409",...,0,1,1,1,0,0,98,178,31,120
2,9,6,7,3,1,228,14,16,58,"264,604",...,0,1,2,0,0,1,65,172,22,120
3,28,9,7,3,1,225,26,9,28,"230,290",...,0,1,1,0,0,2,69,169,24,112
4,9,12,3,3,2,228,14,16,58,"222,196",...,0,1,2,0,0,1,65,172,22,112
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1105,22,1,10,4,4,179,26,9,30,"265,017",...,0,3,0,0,0,0,56,171,19,64
1106,26,19,5,6,3,300,26,13,43,"237,656",...,0,1,2,1,1,1,77,175,25,64
1107,34,19,12,3,4,118,10,10,37,"261,306",...,0,1,0,0,0,0,83,172,28,56
1108,20,19,4,6,3,260,50,11,36,"326,452",...,0,1,4,1,0,0,65,168,23,56
1109,14,10,5,2,3,155,12,14,34,"237,656",...,0,1,2,1,0,0,95,196,25,48

### Eliminamos duplicados

In [23]:
duplicados_python = df_RRHH[df_RRHH.duplicated(keep=False)]
grupos_duplicados = duplicados_python.value_counts().reset_index().shape[0]
print(f"Grupos únicos de duplicados en Python: {grupos_duplicados}")

Grupos únicos de duplicados en Python: 41

In [24]:
duplicados_grouped = duplicados_python.value_counts().reset_index(name='repeticiones')
duplicados_grouped = duplicados_grouped.sort_values(by='Absenteeism_hours', ascending=False)

duplicados_grouped

,ID,Reason_absence,Month_absence,Day_week,Seasons,Transportation_expense,Distance_Residence_Work,Service_time,Age,Work_load_Average_day,...,Education,Son,Social_drinker,Social_smoker,Pet,Weight,Height,Body_mass_index,Absenteeism_hours,repeticiones
6,14,11,11,2,4,155,12,14,34,"284,031",...,1,2,1,0,0,95,196,25,120,3
5,9,6,7,3,1,228,14,16,58,"264,604",...,1,2,0,0,1,65,172,22,120,3
9,36,13,4,4,3,118,13,18,50,"239,409",...,1,1,1,0,0,98,178,31,120,3
10,28,9,7,3,1,225,26,9,28,"230,290",...,1,1,0,0,2,69,169,24,112,3
7,9,12,3,3,2,228,14,16,58,"222,196",...,1,2,0,0,1,65,172,22,112,3
16,11,19,3,2,3,289,36,13,33,"222,196",...,1,2,1,0,1,90,172,30,104,2
18,13,13,7,2,1,369,17,12,31,"264,604",...,1,3,1,0,0,70,169,25,80,2
40,36,13,6,4,3,118,13,18,50,"377,550",...,1,1,1,0,0,98,178,31,80,2
20,14,18,12,3,2,155,12,14,34,"280,549",...,1,2,1,0,0,95,196,25,80,2
34,34,19,12,3,4,118,10,10,37,"261,306",...,1,0,0,0,0,83,172,28,64,2
22,22,1,10,4,4,179,26,9,30,"265,017",...,3,0,0,0,0,56,171,19,64,2
27,26,19,5,6,3,300,26,13,43,"237,656",...,1,2,1,1,1,77,175,25,64,2
33,34,19,12,3,4,118,10,10,37,"261,306",...,1,0,0,0,0,83,172,28,56,2
21,20,19,4,6,3,260,50,11,36,"326,452",...,1,4,1,0,0,65,168,23,56,2
17,14,10,5,2,3,155,12,14,34,"237,656",...,1,2,1,0,0,95,196,25,48,2
15,10,22,12,4,4,361,52,3,28,"261,306",...,1,1,1,0,4,80,172,27,8,2
0,3,27,2,4,2,179,51,18,38,"251,818",...,1,0,1,0,0,89,170,31,3,4
2,3,27,3,5,2,179,51,18,38,"222,196",...,1,0,1,0,0,89,170,31,3,3
31,28,23,12,4,4,225,26,9,28,"280,549",...,1,1,0,0,2,69,169,24,3,2
26,22,23,5,4,3,179,26,9,30,"246,074",...,3,0,0,0,0,56,171,19,3,2
8,3,27,2,6,2,179,51,18,38,"251,818",...,1,0,1,0,0,89,170,31,3,3
36,34,23,10,3,4,118,10,10,37,"253,465",...,1,0,0,0,0,83,172,28,3,2
3,3,27,3,4,2,179,51,18,38,"222,196",...,1,0,1,0,0,89,170,31,2,3
4,3,27,2,4,2,179,51,18,38,"264,249",...,1,0,1,0,0,89,170,31,2,3
1,22,27,4,6,3,179,26,9,30,"246,288",...,3,0,0,0,0,56,171,19,2,4
35,34,27,1,2,2,118,10,10,37,"308,593",...,1,0,0,0,0,83,172,28,2,2
23,5,23,10,2,4,235,20,13,43,"265,017",...,1,1,1,0,0,106,167,38,2,2
19,15,28,5,5,3,291,31,12,40,"237,656",...,1,1,1,0,1,73,171,25,2,2
13,3,27,2,6,2,179,51,18,38,"264,249",...,1,0,1,0,0,89,170,31,2,2
12,3,23,7,6,1,179,51,18,38,"239,554",...,1,0,1,0,0,89,170,31,2,2
11,3,27,2,2,2,179,51,18,38,"264,249",...,1,0,1,0,0,89,170,31,2,2
14,3,27,2,5,2,179,51,18,38,"264,249",...,1,0,1,0,0,89,170,31,2,2
25,22,27,5,6,3,179,26,9,30,"237,656",...,3,0,0,0,0,56,171,19,2,2
38,34,27,1,4,2,118,10,10,37,"308,593",...,1,0,0,0,0,83,172,28,2,2
37,34,27,1,3,2,118,10,10,37,"308,593",...,1,0,0,0,0,83,172,28,2,2
29,27,23,1,5,2,184,42,7,27,"308,593",...,1,0,0,0,0,58,167,21,2,2
28,24,28,7,3,1,246,25,16,41,"230,290",...,1,0,1,0,0,67,170,23,2,2
39,34,27,1,5,2,118,10,10,37,"308,593",...,1,0,0,0,0,83,172,28,2,2
24,3,28,12,6,4,179,51,18,38,"236,629",...,1,0,1,0,0,89,170,31,1,2
32,24,28,9,3,1,246,25,16,41,"261,756",...,1,0,1,0,0,67,170,23,1,2
30,28,23,11,4,4,225,26,9,28,"306,345",...,1,1,0,0,2,69,169,24,1,2

In [25]:
key_fields = ['ID', 'Reason_absence', 'Month_absence', 'Day_week']

repeticiones = duplicados_grouped.groupby(key_fields).agg(
    veces=('ID', 'count'),
    horas_totales=('Absenteeism_hours', 'sum'),
 ).reset_index()

repeticiones.sort_values(["horas_totales"],ascending=False)

    ID  Reason_absence  Month_absence  Day_week  veces  horas_totales
15  14              11             11         2      1            120
9    9               6              7         3      1            120
36  36              13              4         4      1            120
30  34              19             12         3      2            120
27  28               9              7         3      1            112
10   9              12              3         3      1            112
12  11              19              3         2      1            104
13  13              13              7         2      1             80
37  36              13              6         4      1             80
16  14              18             12         3      1             80
19  22               1             10         4      1             64
25  26              19              5         6      1             64
18  20              19              4         6      1             56
14  14              10              5         2      1             48
11  10              22             12         4      1              8
4    3              27              2         6      2              5
2    3              27              2         4      2              5
6    3              27              3         5      1              3
20  22              23              5         4      1              3
31  34              23             10         3      1              3
29  28              23             12         4      1              3
1    3              27              2         2      1              2
5    3              27              3         4      1              2
3    3              27              2         5      1              2
0    3              23              7         6      1              2
17  15              28              5         5      1              2
33  34              27              1         3      1              2
21  22              27              4         6      1              2
8    5              23             10         2      1              2
22  22              27              5         6      1              2
35  34              27              1         5      1              2
32  34              27              1         2      1              2
23  24              28              7         3      1              2
26  27              23              1         5      1              2
34  34              27              1         4      1              2
7    3              28             12         6      1              1
28  28              23             11         4      1              1
24  24              28              9         3      1              1

In [26]:
repeticiones_sospechosas = repeticiones[repeticiones['horas_totales'] > 40]
repeticiones_sospechosas

    ID  Reason_absence  Month_absence  Day_week  veces  horas_totales
9    9               6              7         3      1            120
10   9              12              3         3      1            112
12  11              19              3         2      1            104
13  13              13              7         2      1             80
14  14              10              5         2      1             48
15  14              11             11         2      1            120
16  14              18             12         3      1             80
18  20              19              4         6      1             56
19  22               1             10         4      1             64
25  26              19              5         6      1             64
27  28               9              7         3      1            112
30  34              19             12         3      2            120
36  36              13              4         4      1            120
37  36              13              6         4      1             80

In [27]:
df_flagged = df_RRHH.merge(
    repeticiones_sospechosas[key_fields],
    how='left',
    on=key_fields,
    indicator=True
)

df_flagged

,ID,Reason_absence,Month_absence,Day_week,Seasons,Transportation_expense,Distance_Residence_Work,Service_time,Age,Work_load_Average_day,...,Education,Son,Social_drinker,Social_smoker,Pet,Weight,Height,Body_mass_index,Absenteeism_hours,_merge
0,14,11,11,2,4,155,12,14,34,"284,031",...,1,2,1,0,0,95,196,25,120,both
1,36,13,4,4,3,118,13,18,50,"239,409",...,1,1,1,0,0,98,178,31,120,both
2,9,6,7,3,1,228,14,16,58,"264,604",...,1,2,0,0,1,65,172,22,120,both
3,28,9,7,3,1,225,26,9,28,"230,290",...,1,1,0,0,2,69,169,24,112,both
4,9,12,3,3,2,228,14,16,58,"222,196",...,1,2,0,0,1,65,172,22,112,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1105,22,1,10,4,4,179,26,9,30,"265,017",...,3,0,0,0,0,56,171,19,64,both
1106,26,19,5,6,3,300,26,13,43,"237,656",...,1,2,1,1,1,77,175,25,64,both
1107,34,19,12,3,4,118,10,10,37,"261,306",...,1,0,0,0,0,83,172,28,56,both
1108,20,19,4,6,3,260,50,11,36,"326,452",...,1,4,1,0,0,65,168,23,56,both
1109,14,10,5,2,3,155,12,14,34,"237,656",...,1,2,1,0,0,95,196,25,48,both

In [28]:
sospechosos = df_flagged[df_flagged['_merge'] == 'both']
no_sospechosos = df_flagged[df_flagged['_merge'] == 'left_only']
sospechosos_unique = sospechosos.groupby(key_fields).head(1)
df_RRHH_clean = pd.concat([no_sospechosos, sospechosos_unique]).drop(columns=['_merge']).reset_index(drop=True)
df_RRHH_clean

,ID,Reason_absence,Month_absence,Day_week,Seasons,Transportation_expense,Distance_Residence_Work,Service_time,Age,Work_load_Average_day,...,Disciplinary_failure,Education,Son,Social_drinker,Social_smoker,Pet,Weight,Height,Body_mass_index,Absenteeism_hours
0,14,19,7,2,1,155,12,14,34,"239,554",...,0,1,2,1,0,0,95,196,25,40
1,10,13,8,2,1,361,52,3,28,"205,917",...,0,1,1,1,0,4,80,172,27,40
2,15,14,11,2,4,291,31,12,40,"306,345",...,0,1,1,1,0,1,73,171,25,40
3,20,13,3,6,2,260,50,11,36,"343,253",...,0,1,4,1,0,0,65,168,23,40
4,17,11,3,2,2,179,22,17,40,"343,253",...,0,2,2,0,1,0,63,170,22,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1082,34,19,12,3,4,118,10,10,37,"261,306",...,0,1,0,0,0,0,83,172,28,64
1083,22,1,10,4,4,179,26,9,30,"265,017",...,0,3,0,0,0,0,56,171,19,64
1084,26,19,5,6,3,300,26,13,43,"237,656",...,0,1,2,1,1,1,77,175,25,64
1085,20,19,4,6,3,260,50,11,36,"326,452",...,0,1,4,1,0,0,65,168,23,56
1086,14,10,5,2,3,155,12,14,34,"237,656",...,0,1,2,1,0,0,95,196,25,48

In [30]:
df_RRHH_clean.shape

(1087, 21)

In [31]:
df_RRHH_clean.columns

Index(['ID', 'Reason_absence', 'Month_absence', 'Day_week', 'Seasons',
       'Transportation_expense', 'Distance_Residence_Work', 'Service_time',
       'Age', 'Work_load_Average_day', 'Hit_target', 'Disciplinary_failure',
       'Education', 'Son', 'Social_drinker', 'Social_smoker', 'Pet', 'Weight',
       'Height', 'Body_mass_index', 'Absenteeism_hours'],
      dtype='object')

In [29]:
df_RRHH_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1087 entries, 0 to 1086
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       1087 non-null   int64
 1   Reason_absence           1087 non-null   int64
 2   Month_absence            1087 non-null   int64
 3   Day_week                 1087 non-null   int64
 4   Seasons                  1087 non-null   int64
 5   Transportation_expense   1087 non-null   int64
 6   Distance_Residence_Work  1087 non-null   int64
 7   Service_time             1087 non-null   int64
 8   Age                      1087 non-null   int64
 9   Work_load_Average_day    1087 non-null   object
 10  Hit_target               1087 non-null   int64
 11  Disciplinary_failure     1087 non-null   int64
 12  Education                1087 non-null   int64
 13  Son                      1087 non-null   int64
 14  Social_drinker           1087 non-null   int64
 15  Social_smoker            1087 non-null   int64
 16  Pet                      1087 non-null   int64
 17  Weight                   1087 non-null   int64
 18  Height                   1087 non-null   int64
 19  Body_mass_index          1087 non-null   int64
 20  Absenteeism_hours        1087 non-null   int64
dtypes: int64(20), object(1)
memory usage: 178.5+ KB

In [32]:
df_RRHH_clean.describe()

,ID,Reason_absence,Month_absence,Day_week,Seasons,Transportation_expense,Distance_Residence_Work,Service_time,Age,Hit_target,Disciplinary_failure,Education,Son,Social_drinker,Social_smoker,Pet,Weight,Height,Body_mass_index,Absenteeism_hours
count,1087.000000,1087.000000,1087.000000,1087.000000,1087.000000,1087.000000,1087.000000,1087.000000,1087.000000,1087.000000,1087.000000,1087.000000,1087.000000,1087.000000,1087.000000,1087.000000,1087.000000,1087.000000,1087.000000,1087.000000
mean,80.281509,19.266789,6.286109,3.892364,2.551978,224.073597,29.675253,12.432383,36.287029,94.632935,0.047838,1.298068,1.018399,0.571297,0.068077,0.757130,78.893284,172.175713,26.603496,7.321987
std,107.501278,8.308765,3.445180,1.429242,1.110312,67.251939,14.766082,4.349253,6.544116,3.765764,0.213522,0.679498,1.084646,0.495118,0.251994,1.310772,12.739551,6.129168,4.233527,14.755506
min,1.000000,0.000000,0.000000,2.000000,1.000000,118.000000,5.000000,1.000000,27.000000,81.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,56.000000,163.000000,19.000000,0.000000
25%,13.500000,13.000000,3.000000,3.000000,2.000000,179.000000,16.000000,9.000000,30.500000,93.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,69.000000,169.000000,24.000000,2.000000
50%,28.000000,23.000000,6.000000,4.000000,3.000000,225.000000,26.000000,13.000000,37.000000,95.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,80.000000,171.000000,25.000000,3.000000
75%,114.500000,26.000000,9.000000,5.000000,4.000000,260.000000,50.000000,16.000000,40.000000,97.000000,0.000000,1.000000,2.000000,1.000000,0.000000,1.000000,89.000000,172.000000,31.000000,8.000000
max,386.000000,28.000000,12.000000,6.000000,4.000000,388.000000,52.000000,29.000000,58.000000,100.000000,1.000000,4.000000,4.000000,1.000000,1.000000,8.000000,108.000000,196.000000,38.000000,120.000000